@import "../variables";
@import "../mixin";

.header {
    width: 100%;
    height: $header-h;
    background: $color-secondary;
}
.main {
    width: 100%;
    height: $container-h;
    background: $color-primary-light;
}
