@import "../variables";
@import "../mixin";

.container {
    width: 100%;
    min-height: 100vh;
    background: $color-primary-light;
    .backdrop {
        position: absolute;
        top: $header-h;
        width: 100%;
        height: $container-h;
        background: rgba($color-dark, 0);
        z-index: 10;
        visibility: hidden;
        @include speed(0.5s);
        @include respond(phone) {
            &.showSidebar {
                background: rgba($color-dark, 0.2);
                visibility: visible;
            }
        }
    }
}
