//color

$color-primary: #ffa600;
$color-primary-light: #fae8ce;
$color-secondary: #004888;
$color-white: #fffdfa;
$color-dark: #090121;
$color-success: #23aa02;
$color-danger: #f90c00;
$color-low: #174822;
$color-medium: #ffa600;
$color-high: #f90c00;

//font size

$fz-title: 5rem;
$fz-tag-title: 4rem;
$fz-tag: 2.5rem;
$fz-login: 2.5rem;
$fz-text: 2rem;
